
.about{
   display: inline-block;
   position: relative;
   left:11%;
   top:10px;
   width: 400px;
   height: 400px;
   overflow: hidden;
   border-radius: 50%;

} 
   
   
.about img { 
    width: auto;
    height: 100%;
    margin-left: -50px; 
}


@media only screen and (max-width: 600px) {
    .about {
        display: inline-block;
        position: relative;
        left:11%;
        top:10px;
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 50%;
     
    }
  }

  @media only screen and (max-width: 400px) {
    .about {
        display: inline-block;
        position: relative;
        left:11%;
        top:10px;
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
     
    }
  }