
.about{
  display: flex;
  justify-content: space-between;
   display: inline-block;
   position: relative;
  
   width: 300px;
   height: 300px;
   overflow: hidden;
   border-radius: 50%;

} 
   
   
.about img { 
    width: 200px;
    height: 200px;
}

@media only screen and (max-width: 1600px) {
    .about img {
      
   position: relative;
   left:2%;
   top:10px;
   width: 200px;
   height: 200px;
   overflow: hidden;
   border-radius: 50%;

     
    }
  }

  @media only screen and (max-width: 800px) {
    .about {
        display: inline-block;
        position: relative;
       
        width: 180px;
        height: 180px;
        overflow: hidden;
        border-radius: 50%;
     
    }
  }


@media only screen and (max-width: 600px) {
    .about {
        display: inline-block;
        position: relative;
       
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;
     
    }
  }

  @media only screen and (max-width: 415px) {
    .about {
        display: inline-block;
        position: relative;
       
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 50%;
     
    }
  }