.home-container{
    background-color: #31525b;
}
.slider-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.services{
    height: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction:column;   
    max-width:50%
}

.chef{
    max-width: 200px;
    height: 200px;
    margin-left: 2%;
}

.chef2{
    max-width: 200px;
    height: 200px;
    margin-left: 2%;
    margin-top: 3%;
}

.cow{
    max-width: 200px;
    height: 200px;
    margin-left: 2%;
}    



.Text{
    color:#ffa101;
    text-align: center;
    margin-top:50px;
}

.services-container {    
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: auto;
    margin-top:30px;
    padding:15px 10%;
    flex: 1 1;
    width: 100%;
    background-color: #31525b;
}

.box {
    width: 400px;
    padding: 20px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius: 5px;
    background: #fae6b1;
    align-items: center;
}

.partner-container {
    width:100%;
    margin: auto;
    margin-top:30px;
    padding:15px 10px;
    flex: 1 1;
    width: 100%;
}

.box-partner {
    display:flex;
    justify-content:space-between;
    align-items:center;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin-top:10px;
    margin-bottom:10px;
    border-radius: 5px;
    background: #fae6b1;
}

.partners{
    height: 100%;
    margin: 10px 20px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
}

/*Responsive Start*/
@media screen and (max-width: 900px){
.box{
    width: 20rem;
    right: 8%;
}

.services-container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top:30px;
    padding:25px 10px;
    flex: 1 1;
    width: 100%;
}


.partner-container {
    width:100%;
    margin: auto;
    margin-top:30px;
    padding:15px 10px;
    flex: 1 1;
    width: 100%;
}

.box-partner {
   display:flex;
   justify-content:space-around;
   align-items:center;
   width: 100px;
   height: 100px;
   padding: 20px;
   margin-top:10px;
   margin-bottom:10px;
   border-radius: 5px;
   background: #fae6b1;
}

.partners{
    height: 100%;
    margin: 10px 20px;
    display:flex;
    flex-direction:row;
    justify-content: space-between;   
    margin-right:10px;        
}
}
@media screen and (max-width:400px){
    .chef2{
        max-width: 110px;
        max-height: 140px;
        margin-top: 20%;
        margin-left: 10%;
    }
}
@media screen and (max-width: 600px){
.chef{
    width: 40%;
    height: 200px;
    margin-right:20px;
    margin-top: 7%;
}

.chef2{
    width: 50%;
    height: 200px;
    margin-top: 6%;
    margin-right: 0;
}

.cow{
    width: 30%;
    height: 100px;
    margin-top: 12%;
 }

.box{
    width: 10rem;
}

.services-container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top:0px;
    padding:25px 50px;
    flex: 1 1;
    width: 100%;
    background-color:#31525b
}

.partner-container {
   
   width:100%;
   margin: auto;
   margin-top:30px;
   padding:15px 10px;
   flex: 1 1;
   width: 100%;
}

.box-partner {
   display:flex;
   justify-content:space-around;
   align-items:center;
   width: 60px;
   height: 60px;
   padding: 20px;
   margin-top:10px;
   margin-bottom:10px;
   border-radius: 5px;
   background: #fae6b1;
}

.partners{
    height: 100%;
    margin: 10px 20px;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    align-items:center;
    justify-content: space-around;
        
}
}
@media screen and (max-width: 300px){

.chef{
    width: 50%;
    height: 200px;
    margin-right:20px;
    object-fit:fit;
}

.chef2{
    
    width: 50%;
    height: 100px;
    object-fit:fit;
}

.cow{
    width: 40%;
    height: 100px;
    margin-right:10px;
    object-fit:fit;
    margin-top: 15%;
}

.box{ 
        width: 10rem;
    }

.services-container {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    margin-top:30px;
    padding:25px 50px;
    flex: 1 1;
    width: 100%;
}


.partner-container {
   
   width:100%;
   margin: auto;
   margin-top:30px;
   padding:15px 10px;
   flex: 1 1;
   width: 100%;
}

.box-partner {
   display:flex;
   justify-content:space-around;
   align-items:center;
   width: 40px;
   height: 40px;
   padding: 20px;
   margin-top:10px;
   margin-bottom:10px;
   border-radius: 5px;
   background: #fae6b1;
}

.partners{
    height: 100%;
    margin: 10px 20px;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
        
}
}